@media screen and (max-width: 992px) {
  main {
    aside {
      transform: translate(-400px);
      width: 250px;
    }
    .main-content {
      margin-left: 1rem;

      .data-container {
        margin-right: 1rem;
      }
    }
  }
  .left {
    transform: translate(0px);
  }
  .shrink-left-margin {
    margin-left: 1rem !important;
  }
}

@media screen and (max-width: 768px) {
  main {
    .main-content {
      .data-container {
        .data-entry {
          width: 95%;

          table {
            width: 700px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  main {
    .main-content {
      .data-container {
        .calendar-table {
          width: 95%;
        }
        .work-progress-content {
          height: auto;
          overflow-y: hidden;

          /* width */
          &::-webkit-scrollbar {
            height: 5px;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            border-radius: 0;
          }
        }
        .work-progress-content, .data-entry {
          width: 100%;
        }
      }
    }
  }
}