@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import "config";

body {
  font: $font-stack;
}

header {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    .nav-brand {
        font-size: 1.3rem;
        font-weight: 500;
        color: $purple;
    }
    .nav-icon {
      i {
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
    .nav-user {
      img {
        width: 50px;
      }
    }
  }
}

main {
  background-color: $snow;
  aside {
    position: fixed;
    top: 3em;
    left: 0;
    transform: translate(0px);
    width: 20%;
    padding-top: 2rem;
    z-index: 1;
    overflow-y: hidden;
    height: 94vh;
    background-color: $white;
    transition: transform 1s ease;

    &:hover {
      overflow-y: auto;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $dark-purple;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .total-progress, .work-progress{
      height: 53px;
      line-height: 0;
      margin: 0;
      display: flex;
      align-items: center;

      a {
        color: #212529;
        font-size: 1.2rem;
        font-weight: 300;
        text-decoration: none;
        margin-left: 1rem;

        &:hover {
          color: $dark-purple;
        }
      }
    }

    .accordion-body {
      padding: 0;

      .list-group-item {
        cursor: pointer;
        &:hover {
          background-color: $purple;
          color: $white;
          border-color: $white;
        }
      }
    }
  }

  .main-content {
    margin-left: 25rem;
    min-height: 100vh;
    padding-top: 5rem;
    transition: all ease 1s;

    .data-container {
      background-color: $white;
      padding: 0.5rem;
      border-radius: 10px;
      margin-right: 2rem;

      h1 {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0.5rem;
      }

      h1+p {
        font-size: 0.7rem;
        font-style: italic;
        margin-left: 0.5rem;
      }

      h2 {
        font-size: 1.1rem;
      }
      .total-progress-content {
        .total-stats {
          margin: 0 auto;
          text-align: center;
          h2 {
            font-size: 1.2rem;
            
            span {
              font-size: 1.1rem;
            }
          }
        }
      }

      .calendar-title {
        text-align: center;
        font-size: 1rem;
      }

      .calendar-table {
        width: 400px;
        margin: 0.5rem auto;
        text-align: center;
        font-size: 0.8rem;
        thead {
          tr {
            background-color: $purple;
            color: $white;
          }
        }
        tbody {
          tr {
            td {
              cursor: pointer;

              &:hover {
                background-color: $dark-purple;
                color: $white;
              }
            }
          }
        }
      }
      .work-progress-content {
        height: 400px;
        overflow-y: auto;

         /* width */
        &::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $dark-purple;
          border-radius: 5px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }

      .work-progress-content, .data-entry {
        width: 90%;
        max-width: 800px;
        margin: 2rem auto;
        text-align: center;
        font-size: 0.8rem;
      }
      .work-progress-content {
        font-size: 0.9rem;
        table {
          th {
            font-weight: 600;
          }
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  right: 1em;
  font-size: 0.9rem;
}

@import "media";