@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.flex-show {
  display: flex !important;
}

.shrink-left-margin {
  margin-left: 2rem !important;
}

.active-data {
  background-color: #e30063 !important;
  color: #fff;
}

body {
  font: 500 16px "Nunito", sans-serif;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
header nav .nav-brand {
  font-size: 1.3rem;
  font-weight: 500;
  color: #5351b0;
}
header nav .nav-icon i {
  cursor: pointer;
  font-size: 1.5rem;
}
header nav .nav-user img {
  width: 50px;
}

main {
  background-color: #f4f7fe;
}
main aside {
  position: fixed;
  top: 3em;
  left: 0;
  width: 20%;
  padding-top: 2rem;
  z-index: 1;
  overflow-y: hidden;
  height: 94vh;
  background-color: #fff;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
main aside:hover {
  overflow-y: auto;
}
main aside::-webkit-scrollbar {
  width: 5px;
}
main aside::-webkit-scrollbar-track {
  background: #f1f1f1;
}
main aside::-webkit-scrollbar-thumb {
  background: #4a498d;
}
main aside::-webkit-scrollbar-thumb:hover {
  background: #555;
}
main aside .total-progress a, main aside .work-progress a {
  color: #212529;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
  margin-left: 1rem;
}
main aside .total-progress a:hover, main aside .work-progress a:hover {
  color: #4a498d;
}
main aside .accordion-body {
  padding: 0;
  transition: all ease 1;
}
main aside .accordion-body .list-group-item {
  cursor: pointer;
}
main aside .accordion-body .list-group-item:hover {
  background-color: #5351b0;
  color: #fff;
  border-color: #fff;
}
main .main-content {
  margin-left: 20rem;
  min-height: 100vh;
  padding-top: 5rem;
  transition: all ease 1s;
}
main .main-content .data-container {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  margin-right: 2rem;
}
main .main-content .data-container h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.5rem;
}
main .main-content .data-container h1 + p {
  font-size: 0.7rem;
  font-style: italic;
  margin-left: 0.5rem;
}
main .main-content .data-container h2 {
  font-size: 1.1rem;
}
main .main-content .data-container .total-progress-content .total-stats {
  margin: 0 auto;
  text-align: center;
}
main .main-content .data-container .total-progress-content .total-stats h2 {
  font-size: 1.2rem;
}
main .main-content .data-container .total-progress-content .total-stats h2 span {
  font-size: 1.1rem;
}
main .main-content .data-container .calendar-title {
  text-align: center;
  font-size: 1rem;
}
main .main-content .data-container .calendar-table {
  width: 400px;
  margin: 0.5rem auto;
  text-align: center;
  font-size: 0.8rem;
}
main .main-content .data-container .calendar-table thead tr {
  background-color: #5351b0;
  color: #fff;
}
main .main-content .data-container .calendar-table tbody tr td {
  cursor: pointer;
}
main .main-content .data-container .calendar-table tbody tr td:hover {
  background-color: #4a498d;
  color: #fff;
}
main .main-content .data-container .work-progress-content, main .main-content .data-container .data-entry {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
  font-size: 0.8rem;
}
main .main-content .data-container .work-progress-content {
  font-size: 0.9rem;
}
main .main-content .data-container .work-progress-content table th {
  font-weight: 600;
}

footer {
  position: fixed;
  bottom: 0;
  right: 1em;
  font-size: 0.9rem;
}

@media screen and (max-width: 992px) {
  main .main-content {
    margin-left: 13rem;
  }
  main .main-content .data-container {
    margin-right: 1rem;
  }
}